.container {
  display: flex;
  height: 100vh;
  padding: 20px;
}

.left-column {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.degree-requirements {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.semesters {
  width: 67%;
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.semester-item {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
  min-height: 60px;
}

.semester-title {
  font-weight: 600;
  cursor: pointer;
}

.courses {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-box {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  color: #4b4b4b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.remove-btn:hover {
  color: darkred;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 10px;
  box-sizing: border-box;
}

.degree-dropdown {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: white;
}

.course-search {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-results {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.result-item {
  padding: 8px;
  background-color: #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  color: #4b4b4b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: grab;
  text-align: center;
}

.result-item:active {
  opacity: 0.5;
}

.semester-item:hover {
  background-color: #d0d0d0;
}
